<main class="container">
    <h1>Bienvenid@ a IronNBA</h1>
    <p>Descubre todas las novedades del deporte</p>

    <a class="btn btn-dark" href="/jugadores">Ver jugadores</a>
    <a class="btn btn-dark" href="/equipos">Ver equipos</a>
</main>